.noForm{
    background-color: #ffe6e9;
    color: #851e36;
    padding: 1em ;
}
#mainSubmitForm{
    position: relative;

}
button.gameSubmit {
    position: relative;
    z-index: 20;
    transition: 1s ease all;
}