section.game{
    max-width: 100%;
    overflow: auto;
    padding-bottom: 1em;
    margin-bottom: 1em ;
}
.pokedex div{
    height: 4em ;
    width: 4em;
    background-size: 120% auto;
    background-repeat: no-repeat;
    background-position: center bottom;
}